* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  list-style: none;
  outline: none;
}
html,
body {
  height: 100vh;
}
body {
  font-family: 'Mulish', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background: #132c33;
}
#root {
  height: 100vh;
  display: grid;
  place-items: center;
}
/* FORM STYLES */
.locationForm {
  display: flex;
  justify-content: center;
  flex-direction: column;
  width: 90%;
  max-width: 450px;
  background-color: #fff;
  border-radius: 10px;
  box-shadow: 0px 0px 10px rgba(255, 255, 255, 0.3);
  border: 1px solid rgba(0, 0, 0, 0.5);
}
.locationForm h1 {
  font-size: 1.6rem;
  font-weight: bold;
  color: #2389a0;
  border-bottom: 1px solid #ccc;
  padding: 15px;
  text-align: center;
}
.locationForm .container {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  padding: 30px;
}
.locationForm .container .status {
  font-size: 1.2rem;
  color: #2389a0;
  width: 100%;
  padding: 10px;
  background: #29adcb48;
  margin-bottom: 10px;
  border-radius: 5px;
  text-align: center;
  border: 1px solid #29adcb72;
}
.locationForm .container .status.error {
  color: #721c24;
  border: 1px solid #f5c6cb;
  background: #f8d7da;
}
.locationForm .container form {
  display: flex;
  align-items: center;
  width: 100%;
  position: relative;

  overflow: hidden;
}
.locationForm .container form input {
  width: 100%;
  padding: 0px 60px 0px 10px;
  border: 1px solid rgba(0, 0, 0, 0.3);
  overflow: hidden;
  border-radius: 5px;
  font-size: 1rem;
  height: 55px;
}
.locationForm .container form input:focus {
  border: 2px solid #2389a0;
}
.locationForm .container form button {
  position: absolute;
  right: 0;
  top: 0;
  padding: 10px;
  width: 50px;
  height: 100%;
  border: none;
  background-color: #2389a0;
  color: #fff;
  font-weight: bold;
  cursor: pointer;
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;
  font-size: 1.6rem;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: all 0.3s ease-in-out;
}
.locationForm .container form button:hover {
  background-color: #51c4d3;
}
.locationForm .container .seperator {
  width: 100%;
  height: 1px;
  background-color: #aaa;
  margin: 30px 0px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.locationForm .container .seperator::before {
  content: 'ya da';
  font-size: 1.2rem;
  padding: 0px 10px;
  background-color: #fff;
  color: #aaa;
}
.locationForm .container .getLocation {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 15px 0;
  width: 100%;
  background-color: #2389a0;
  color: #fff;
  border-radius: 5px;
  cursor: pointer;
  transition: all 0.3s ease-in-out;
  border: none;
  font-size: 1.2rem;
}
.locationForm .container .getLocation:hover {
  background-color: #51c4d3;
}
/* Weather Styles */
.container {
  display: grid;
  place-items: center;
  padding: 3rem 4rem;
  width: 100%;
}
.container .weather {
  display: grid;
  grid-template-rows: 1fr;
  background-color: #fff;
  border-radius: 10px;
  box-shadow: 0px 0px 10px rgba(255, 255, 255, 0.3);
  border: 1px solid rgba(0, 0, 0, 0.5);
  width: 100%;
  overflow: hidden;
}
.container .weather header {
  padding: 0.6rem 2rem;
  border-bottom: 1px solid #cbe9f1;
}
.container .weather header button {
  display: flex;
  align-items: center;
  color: #2389a0;
  font-size: 1.4rem;
  font-weight: bold;
  background: none;
  border: none;
  cursor: pointer;
}
.container .weather header svg {
  margin-right: 0.5rem;
}
.container .weather main {
  display: grid;
  grid-auto-flow: column;
}
.container .weather main .sidebar {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 2rem;
  max-width: 20rem;
}
.container .weather main .sidebar h1 {
  font-size: 1.6rem;
  font-weight: bold;
  color: #2389a0;
  text-align: center;
  max-width: 240px;
  text-transform: capitalize;
}
.container .weather main .sidebar .currentWeather {
  text-align: center;
  text-transform: capitalize;
  font-size: 1.2rem;
  color: #2389a0;
  margin-bottom: 1rem;
}
.container .weather main .sidebar .currentWeatherIcon {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 80%;
}
.container .weather main .sidebar .currentWeatherIcon img {
  width: 100%;
}
.container .weather main .sidebar .currentTemp {
  display: flex;
  align-items: flex-start;
  justify-content: center;
  font-size: 3.5rem;
  font-weight: bold;
  color: #2389a0;
  line-height: 2.8rem;
  border: 1px solid #ccc;
  border-radius: 999px;
  padding: 1rem 2rem;
  width: 10rem;
}

.container .weather main .sidebar .currentTemp span:nth-child(2) {
  font-size: 1.4rem;
  color: #919596;
  line-height: 1;
}
.container .weather main .sidebar .feelsTemp {
  font-size: 1rem;
  color: #434343;
  margin-top: 1rem;
  text-align: center;
  line-height: 1;
}
.container .weather main .sidebar .feelsTemp span {
  font-size: 0.8rem;
}
.container .weather main .sidebar .currentDay {
  font-size: 2rem;
  color: #2389a0;
  margin-top: 2rem;
  text-align: center;
  font-weight: bold;
}
.container .weather main .sidebar .currentDay span {
  font-size: 1.2rem;
  color: #919596;
}
.container .weather main .sidebar .seperator {
  width: 100%;
  height: 1px;
  background-color: #ccc;
  margin: 30px 0px;
}
.container .weather main .sidebar .sunmoon {
  display: flex;
  align-items: flex-start;
  flex-direction: column;
  font-size: 1.2rem;
  width: 100%;
}
.container .weather main .sidebar .sunmoon div {
  display: flex;
  align-items: center;
  white-space: nowrap;
  font-size: 1rem;
  gap: 5px;
  width: 95%;
}
.container .weather main .sidebar .sunmoon div span {
  width: 100%;
  display: flex;
  justify-content: space-between;
  color: #434343;
}
.container .weather main .sidebar .sunmoon div span strong {
  color: #000;
}
.container .weather main .sidebar .sunmoon div img {
  width: 70px;
}

.container .weather main .info {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  background: #e5f6fb;
  padding: 2rem;
}
.container .weather main .info h3 {
  font-size: 2rem;
  font-weight: bold;
  color: #2389a0;
  margin-bottom: 1rem;
}
.container .weather main .info .weatherForecast {
  display: grid;
  grid-template-columns: repeat(8, 1fr);
  grid-gap: 0.5rem;
  margin-bottom: 1rem;
}
.container .weather main .info .weatherForecast li {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  font-size: 1.4rem;
  color: #000;
  text-align: center;
  border: 1px solid rgb(233, 233, 233);
  border-radius: 10px;
  padding: 1rem 2rem;
  background-color: #fff;
}
.container .weather main .info .weatherForecast li .day {
  font-weight: bold;
}
.container .weather main .info .weatherForecast li .hours {
  font-weight: 500;
  font-size: 0.8rem;
}
.container .weather main .info .weatherForecast li img {
  width: 100%;
}
.container .weather main .info .weatherForecast li .temp {
  font-size: 1.2rem;
  color: #434343;
  margin-top: 0.4rem;
}
.container .weather main .info .otherDetails {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-gap: 0.5rem;
}
.container .weather main .info .otherDetails li {
  display: flex;
  flex-direction: column;
  color: #000;
  border: 1px solid rgb(233, 233, 233);
  border-radius: 10px;
  padding: 1rem 0;
  background-color: #fff;
}
.container .weather main .info .otherDetails li h4 {
  font-weight: bold;
  font-size: 1.2rem;
  text-align: center;
}
.container .weather main .info .otherDetails li div {
  display: flex;
  align-items: center;
}
.container .weather main .info .otherDetails li div span {
  font-size: 1.2rem;
  color: #434343;
}
.container .weather main .info .otherDetails li div span .humidity {
  font-size: 3rem;
  margin-right: 5px;
  color: #2389a0;
}
.container .weather main .info .otherDetails li div img {
  width: 5rem;
}
@media screen and (max-width: 1200px) {
  .container .weather main .info .weatherForecast {
    grid-template-columns: repeat(4, 1fr);
  }
  .container .weather main .info .otherDetails {
    grid-template-columns: repeat(2, 1fr);
  }
  .container .weather main .info .otherDetails li div {
    justify-content: center;
  }
}
@media screen and (max-width: 768px) {
  .container .weather main {
    grid-auto-flow: row;
  }
  .container .weather main .sidebar {
    max-width: 100%;
  }
  .container .weather main .info h3 {
    text-align: center;
  }
}
@media screen and (max-width: 425px) {
  .container {
    padding: 3rem 1rem;
  }
  .container .weather main .info .weatherForecast {
    grid-template-columns: repeat(2, 1fr);
  }
  .container .weather main .info .otherDetails {
    grid-template-columns: repeat(1, 1fr);
  }
}
